:root {
    --primary-color: #004D40;
    --secondary-color: #FF6F61;
    --background-color: #F5F5DC;
}

.spinner_div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner_div.hidden {
    display: none;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.about_icon {
    font-size: 140px;
}

.footer_icon {
    font-size: 30px;
}

.footer_icon2 {
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_footer::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    width: 100px;
    border-radius: 20px;
    background: var(--secondary-color);
}

.links a:hover {
    color: var(--background-color);
    transition: all .3s ease-in-out;
}

.form_input{
    height: 50px;
    width: 100%;
    background: var(--primary-color);
    color: var(--background-color);
    border: none;
    outline: none;
    padding: 0 1rem;
    border-radius: 4px;
}

#phone {
    padding-left: 10px;
}

#phoneFeedback {
    display: none;
}